.advs-001{
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 110px;
    width: 1200px;
    max-width: 92%;
    .groups{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .group{
        // outline: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        max-width: 86%;
        margin: 80px auto 0 auto;
        &::before{
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            height: 100px;
            width: 100px;
            border-radius: 3px;
            background: linear-gradient(0deg, rgba(219, 244, 219, .6) 0%, rgba(219, 244, 219, 0) 100%);
            // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        }
        &:last-of-type::before{
            display: none;
        }
    }
    .img-section{
        display: flex;
        width: 38%;
    }
    .group:nth-child(2n) .img-section{
        order: 2;
        justify-content: flex-end;
    }
    .text{
        width: 62%;
    }
    h2{
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 38px;
    }
    p{
        line-height: 1.5;
    }
    .picture{
        width: 80%;
        align-self: flex-end;
        filter: drop-shadow(-0.4px 3px 2px rgba(0, 0, 0, 0.25));
    }
    .dots{
        position: absolute;
        width: 82%;
        left: -3%;
        bottom: 24%;
    }
    .group:nth-child(2n) .dots{
        margin-left: auto;
        right: -3%;
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .advs-001{
        padding-top: 70px;
        padding-bottom: 0px;
    }
 }
 @media (max-width: 800px){
    .advs-001{
        padding-bottom: 90px;
        margin-top: 20px;
        .group{
        max-width: 96%;
        }
    }
 }
 @media (max-width: 740px){
    .advs-001{
        padding-bottom: 50px;
        margin-top: 20px;
        .img-section, .text{
            width: 100%;
            padding-bottom: 20px;
        }
        .group{
            max-width: 96%;
            margin-bottom: 0;
            .dots{
                left: 3%;
            }
        }
        .group:nth-child(2n) .img-section{
            order: -1;
            .dots{
                right: 3%;
            }
            .picture{
                left: auto;
                right: 50%;
                transform: translateX(40%);
            }
        }
        .dots, .picture{
            width: 300px;
            max-width: 80%;
        }
        .picture{
            left: 50%;
            transform: translateX(-40%);
        }
        h2{
            padding-bottom: 24px;
            font-size: 28px;
        }
        p{
            font-size: 14px;
        }
    }
 }