.hero-001{
    flex-direction: column;
    width: 100%;
    z-index: 2;
    .logo-holder{
        height: 100px;
        padding: 20px;
    }
    .bg{
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url(../img/hero-001-bg.jpg);
        background-position: center;
        background-size: cover;
    }
    .logo{
        height: 100%;
        filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.15));
        transition: .2s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
    .container{
        width: 1200px;
        max-width: 88%;
        margin: 0 auto 30px;
        // background-color: white;
        // box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
        border-radius: 12px;
    }
    .inner-bg{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        border-radius: 12px;
        background-color: rgba(255, 255, 255, 0.0);
    }
    .g-form{
        position: absolute;
        left: -3%;
        top: 1%;
        height: 90%;
        width: 36%;
        border: 40px solid rgba(0, 0, 0, 0.1);
        border-left: 0px;
        &::after{
            content: '';
            position: relative;
            display: block;
            width: 5px;
            height: 100%;
            height: calc(100% + 100px);
            top: -50px;
            margin-right: auto;
            background-color: white;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.06);
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            top: 10%;
            right: -80%;
            width: 50%;
            height: 50%;
            border-radius: 6px;
            background-color: rgba(61, 24, 24, 0.014);
            box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.08);
        }
    }
    .color-box-1,
    .color-box-2,
    .color-box-3{
        position: absolute;
        right: -3%;
        top: 0;
        background-color: rgba(219, 244, 219, 0.8);
        border-radius: 10px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    }
    .color-box-1{
        position: relative;
        // background-color: rgba(219, 244, 219, 1);
        width: 50%;
        height: 120px;
        margin-top: -80px;
        margin-left: auto;
    }
    .color-box-2{
        width: 103%;
        height: 100%;
        background: linear-gradient(90deg, rgba(219, 244, 219, 1) 0%, rgba(219, 244, 219, 0.8) 100%);
    }
    .color-box-3{
        width: 50%;
        height: 130%;
    }
    ul{
        padding-top: 10px;
        padding-bottom: 22px;
        width: auto;
        display: table;
        transform: translateX(30%);
        margin: auto;
    }
    li{
        list-style: none;
        font-size: 14px;
        font-weight: 600;
        margin: 6px;
        padding: 3px 40px;
        background-color: white;
        border-radius: 100px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    }
    h1{
        line-height: 1.1;
        display: block;
        font-size: 40px;
        font-weight: 700;
        padding-bottom: 60px;
    }
    .heading{
        min-height: 50%;
        margin-top: 20px;
        padding-left: 4%;
    }
    span:first-of-type{
        line-height: 1.5;
        font-size: 2.25em;
        font-weight: 100;
    }
    h2{
        display: table;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 60px;
        margin: 18px;
        margin-left: 6%;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        border-radius: 100px;
        color: #555555;
    }
    .cta-holder{
        width: 100%;
        padding-top: 40px;
        padding-bottom: 70px;
    }
    .cta{
        display: table;
        padding: 8px 50px;
        margin-left: 14%;
        background-color: rgba(219, 244, 219, 1);
        border-radius: 100px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        transition: .2s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: scale(1.02);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15), 3px 3px 6px rgba(0, 0, 0, 0.08)
        }
        &:active{
            transform: scale(1);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
            transition: .1s ease-in-out;
        }
    }
    .cta-inner{
        font-size: 22px;
        font-weight: 600;
        color: white;
        padding: 4px 30px;
        border-radius: 100px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.4);
    }
    .image{
        position: absolute;
        bottom: 11%;
        right: 10%;
        width: 25%;
        filter: drop-shadow(-0.6px 6px 8px rgba(0, 0, 0, 0.18));
    }
}
@media (max-width: 800px){
    .hero-001{
        ul{
            transform: translateX(20%);
        }
        .cta{
            margin-left: 2%;
        }
    }
}
@media (max-width: 740px){
    .hero-001{
        .g-form::before{
            display: none;
        }
        h1{
            font-size: 28px;
        }
        ul{
            transform: translateX(0);
        }
        .image{
            bottom: -5px;
        }
        .color-box-1{
            width: 65%;
        }
    }
}
@media (max-width: 620px){
    .hero-001{
        .color-box-3, .image{
            display: none;
        }
        .color-box-1{
            margin-top: 0;
        }
        .heading{
            margin-top: 40px;
        }
        h1{
            font-size: 28px;
        }
        span:first-of-type{
            font-size: 1.3em;
            font-weight: 300;
        }
        .cta-holder{
            padding-top: 70px;
        }
        h2,.cta{
            margin-left: auto;
            margin-right: auto;
            left: 3px;
        }
        h2{
            padding: 5px 36px;
            text-align: center;
        }
        .g-form{
            top: 8%;
            width: 108%;
            height: 90%;
        }
    }
}
@media (max-width: 500px){
    .hero-001{
        .color-box-1{
            width: 85%;
        }
    }
}